# ===== Supabase接続情報（クラウド版） =====
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
DATABASE_URL=

# ===== Better Auth =====
BETTER_AUTH_SECRET=

# ===== Google OAuth =====
BETTER_AUTH_GOOGLE_CLIENT_ID=
BETTER_AUTH_GOOGLE_CLIENT_SECRET=